/* ------- LIGHT THEME ------- */
.theme-light {
  color-scheme: light;
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  /* --- base colors --- */
  /* color bases */
  --color-base-00: #B3B998;
  --color-base-05: #ACB38F;
  --color-base-10: #A4AC86;
  --color-base-20: #8D9570;
  --color-base-25: #838B67;
  --color-base-30: #79815D;
  --color-base-35: #6F7754;
  --color-base-40: #656D4A;
  --color-base-50: #535B3F;
  --color-base-60: #4A5239;
  --color-base-70: #414833;
  --color-base-100: #293121;
  /* rainbow colors */
  --color-red: #A7544E;
  --color-orange: #AE9054;
  --color-yellow: #B3AE5A;
  --color-green: #7C9B4F;
  --color-cyan: #4EB3B3;
  --color-blue: #577398;
  --color-purple: #575096;
  --color-pink: #915394;
  --color-gray: #808080;
  --color-red-rgb: 167, 84, 78;
  --color-orange-rgb: 174, 144, 84;
  --color-yellow-rgb: 179, 174, 90;
  --color-green-rgb: 124, 155, 79;
  --color-cyan-rgb: 78, 179, 179;
  --color-blue-rgb: 87, 115, 152;
  --color-purple-rgb: 87, 80, 150;
  --color-pink-rgb: 145, 83, 148;
  --color-gray-rgb: 128, 128, 128;
  --color-red-hsl: 6, 25%, 48%;
  --color-orange-hsl: 35, 20%, 51%;
  --color-yellow-hsl: 50, 20%, 52%;
  --color-green-hsl: 90, 20%, 46%;
  --color-cyan-hsl: 180, 20%, 51%;
  --color-blue-hsl: 210, 20%, 47%;
  --color-purple-hsl: 260, 20%, 46%;
  --color-pink-hsl: 320, 20%, 45%;
  --color-gray-hsl: 0, 0%, 50%;
  /* --- color mappings --- */
  /* backgrounds */
  --background-primary: var(--color-base-00);
  --background-primary-alt: var(--color-base-05);
  --background-secondary: var(--color-base-10);
  --background-secondary-alt: var(--color-base-20);
  --background-modifier-hover: hsla(var(--interactive-accent-hsl), 0.1);
  --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.3);
  --background-modifier-border: var(--color-base-35);
  --background-modifier-border-hover: var(--color-base-40);
  --background-modifier-border-focus: var(--color-base-50);
  --background-modifier-error-rgb: var(--color-red-rgb);
  --background-modifier-error: var(--color-red);
  --background-modifier-error-hover: var(--color-red);
  --background-modifier-success-rgb: var(--color-green-rgb);
  --background-modifier-success: var(--color-green);
  --background-modifier-message: rgba(0, 0, 0, 0.9);
  /* blockquotes */
  --blockquote-border-thickness: 3px;
  --blockquote-border-color: var(--color-accent);
  --blockquote-font-style: normal;
  --blockquote-color: inherit;
  --blockquote-background-color: transparent;
  /* headings */
  --inline-title-color: var(--color-accent);
  --h1-color: var(--color-red);
  --h2-color: var(--color-orange);
  --h3-color: var(--color-yellow);
  --h4-color: var(--color-green);
  --h5-color: var(--color-blue);
  --h6-color: var(--color-purple);
  /* horizontal rule */
  --hr-color: var(--color-accent);
  /* links */
  --link-color: hsla(var(--color-accent-1-hsl), 0.7);
  --link-color-hover: var(--color-accent-1);
  --link-external-color: hsla(var(--color-accent-2-hsl), 0.7);
  --link-external-color-hover: var(--color-accent-2);
  --link-unresolved-color: var(--color-accent-3);
  --link-unresolved-opacity: 0.7;
  --link-unresolved-decoration-color: var(--color-accent-3);
  /* lists */
  --list-marker-color: var(--color-accent-2);
  --list-marker-color-hover: var(--color-accent);
  --list-marker-color-collapsed: var(--color-accent-1);
  /* ribbon */
  --ribbon-background: var(--color-base-30);
  --ribbon-background-collapsed: var(--color-base-25);
  /* sidedock vault profile */
  --sidedock-background: var(--color-base-30);
  /* status bar */
  --status-bar-background: var(--color-base-30);
  /* tags */
  --tag-color: var(--text-on-accent-inverted);
  --tag-color-hover: var(--text-on-accent);
  --tag-background: var(--text-accent);
  --tag-background-hover: var(--text-accent-hover);
  --tag-border-width: 0px;
  /* title bar */
  --titlebar-background: var(--color-base-25);
  --titlebar-background-focused: var(--color-base-30);
  /* text */
  --text-normal: var(--color-base-100);
  --text-muted: var(--color-base-70);
  --text-faint: var(--color-base-60);
  --text-on-accent: var(--color-base-00);
  --text-on-accent-inverted: var(--color-base-100);
  --text-error: var(--color-red);
  --text-warning: var(--color-orange);
  --text-success: var(--color-green);
  --text-selection: hsla(var(--color-accent-hsl), 0.2);
  --text-highlight-bg-rgb: 255, 208, 0;
  --text-highlight-bg: rgba(var(--text-highlight-bg-rgb), 0.4);
  --text-accent: var(--color-accent);
  --text-accent-hover: var(--color-accent-1); 
  --interactive-normal: var(--background-primary); 
  --interactive-hover: var(--background-primary-alt);
  --interactive-accent-hsl: var(--color-accent-2-hsl);
  --interactive-accent: var(--color-accent-2);
  --interactive-accent-hover: var(--color-accent-3);
  /* triadic accent colors */
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1-hsl: calc(var(--accent-h) - 33), calc(var(--accent-s) * 1.01), calc(var(--accent-l) * 1.075);
  --color-accent-1: hsl(calc(var(--accent-h) - 33), calc(var(--accent-s) * 1.01), calc(var(--accent-l) * 1.075));
  --color-accent-2-hsl: calc(var(--accent-h) + 33), calc(var(--accent-s) * 1.02), calc(var(--accent-l) * 1.15);
  --color-accent-2: hsl(calc(var(--accent-h) + 33), calc(var(--accent-s) * 1.02), calc(var(--accent-l) * 1.15));
  --color-accent-3-hsl: calc(var(--accent-h) - 67), calc(var(--accent-s) * 1.03), calc(var(--accent-l) * 1.225);
  --color-accent-3: hsl(calc(var(--accent-h) - 67), calc(var(--accent-s) * 1.03), calc(var(--accent-l) * 1.225));
}