/* ------- LIGHT THEME ------- */
.theme-light {
  color-scheme: light;
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  /* --- base colors --- */
  /* color bases */
  --color-base-00: #A49FE0;
  --color-base-05: #B0A8E3;
  --color-base-10: #918ACC;
  --color-base-20: #7E74B7;
  --color-base-25: #7369A0;
  --color-base-30: #6B5FA3;
  --color-base-35: #6B5FA3;
  --color-base-40: #5A5089;
  --color-base-50: #443D68;
  --color-base-60: #383256;
  --color-base-70: #312C4A;
  --color-base-100: #040406;
  /* rainbow colors */
  --color-red: #8C3033;
  --color-orange: #CE7F3D;
  --color-yellow: #C5B36B;
  --color-green: #4D6E51;
  --color-cyan: #5D9A9D;
  --color-blue: #446288;
  --color-purple: #744E78;
  --color-pink: #AC5373;
  --color-gray: #777777;
  --color-red-rgb: rgb(140, 48, 51);
  --color-orange-rgb: rgb(206, 127, 61);
  --color-yellow-rgb: rgb(197, 179, 107);
  --color-green-rgb: rgb(77, 110, 81);
  --color-cyan-rgb: rgb(93, 154, 157);
  --color-blue-rgb: rgb(68, 98, 136);
  --color-purple-rgb: rgb(116, 78, 120);
  --color-pink-rgb: rgb(172, 83, 115);
  --color-gray-rgb: rgb(119, 119, 119);
  /* other colors */
  --dit-text: #333D29;
  --dit-text-muted: #4A5239;
  --dit-text-faint: #8D9570;
  --dit-text-accent: #9E3370;
  --dit-text-accent-hover: #86004C;
  --dit-text-accent-secondary: #5A91A5;
  --dit-text-accent-secondary-hover: #364A73;
  --dit-heading: #364A73;
  --dit-text-on-accent: #11182A;
  --dit-text-on-accent-inverted: #7ed7d7;
  --dit-border: #7368A6;
  /* --- color mappings --- */
  /* backgrounds */
  --background-image: var(--dit-bg-image-light);
  --background-primary: var(--color-base-00);
  --background-primary-alt: var(--color-base-05);
  --background-secondary: var(--color-base-10);
  --background-secondary-alt: var(--color-base-20);
  --background-modifier-hover: hsla(var(--interactive-accent-hsl), 0.1);
  --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.3);
  --background-modifier-border: var(--dit-border);
  --background-modifier-border-hover: var(--dit-border);
  --background-modifier-border-focus: var(--dit-border);
  --background-modifier-error-rgb: var(--color-red-rgb);
  --background-modifier-error: var(--color-red);
  --background-modifier-error-hover: var(--color-red);
  --background-modifier-success-rgb: var(--color-green-rgb);
  --background-modifier-success: var(--color-green);
  --background-modifier-message: rgba(0, 0, 0, 0.9);
  /* blockquotes */
  --blockquote-border-thickness: 3px;
  --blockquote-border-color: var(--dit-border);
  --blockquote-font-style: normal;
  --blockquote-color: inherit;
  --blockquote-background-color: transparent;
  /* headings */
  --inline-title-color: var(--dit-heading);
  --h1-color: var(--dit-heading);
  --h2-color: var(--dit-heading);
  --h3-color: var(--dit-heading);
  --h4-color: var(--dit-heading);
  --h5-color: var(--dit-heading);
  --h6-color: var(--dit-heading);
  /* horizontal rule */
  --hr-color: var(--color-accent);
  /* links */
  --link-color: var(--dit-text-accent);
  --link-color-hover: var(--dit-text-accent-hover);
  --link-external-color: var(--dit-text-accent-secondary);
  --link-external-color-hover: var(--dit-text-accent-secondary-hover);
  --link-unresolved-color: var(--dit-text-accent);
  --link-unresolved-opacity: 0.7;
  --link-unresolved-decoration-color: var(--dit-text-accent);
  /* lists */
  --list-marker-color: var(--dit-border);
  --list-marker-color-hover: var(--dit-border);
  --list-marker-color-collapsed: var(--dit-text-border);
  /* ribbon */
  --ribbon-background: var(--color-base-30);
  --ribbon-background-collapsed: var(--color-base-25);
  /* sidedock vault profile */
  --sidedock-background: var(--color-base-30);
  /* status bar */
  --status-bar-background: var(--color-base-30);
  /* tags */
  --tag-color: var(--text-on-accent-inverted);
  --tag-color-hover: var(--text-on-accent);
  --tag-background: var(--text-accent);
  --tag-background-hover: var(--text-accent-hover);
  --tag-border-width: 0px;
  /* title bar */
  --titlebar-background: var(--color-base-25);
  --titlebar-background-focused: var(--color-base-30);
  /* text */
  --text-normal: var(--dit-text);
  --text-muted: var(--dit-muted);
  --text-faint: var(--dit-faint);
  --text-on-accent: var(--dit-text-on-accent);
  --text-on-accent-inverted: var(--dit-text-on-accent-inverted);
  --text-error: var(--color-red);
  --text-warning: var(--color-orange);
  --text-success: var(--color-green);
  --text-selection: hsla(var(--color-accent-hsl), 0.2);
  --text-highlight-bg-rgb: 255, 208, 0;
  --text-highlight-bg: rgba(var(--text-highlight-bg-rgb), 0.4);
  --text-accent: var(--dit-text-accent);
  --text-accent-hover: var(--dit-text-accent-hover); 
  --interactive-normal: var(--background-primary); 
  --interactive-hover: var(--background-primary-alt);
  --interactive-accent-hsl: var(--color-accent-hsl);
  --interactive-accent: var(--color-accent);
  --interactive-accent-hover: var(--color-accent-hover);
  /* accent colors */
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-hover: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 10%));
}